.statistics {
  display: block;
  max-width: 400px;
  height: 100%;
  border-radius: 0px 0px 4px 4px;
  margin-left: auto;
  margin-right: auto;
}

.title {
  text-align: center;
  justify-content: center;
  font-size: 24px;
  padding-top: 20px;
}

.statlist {
  text-align: center;
  margin: 0px;
  padding: 0px;
}

.item {
  display: inline-grid;
  box-sizing: border-box;
  border: 1px solid #2c3e50;
  background-color: hotpink;
  color: #fff;
  text-align: center;
  justify-content: center;
  padding: 10px;
}

.label {
  font-size: 12px;
}

.percentage {
  margin-top: 4px;
}
